.text-xs {
  font-size: 0.625rem !important; // 10px
  line-height: 1rem !important;
}

.text-sm {
  font-size: 0.75rem !important; // 12px
  line-height: 1rem !important;
}

.text-base {
  font-size: 0.875rem !important; // 14px
  line-height: 1.25rem !important;
}

.text-md {
  font-size: 1rem !important; // 16px
  line-height: 1.5rem !important;
}

.text-lg {
  font-size: 1.125rem !important; // 18px
  line-height: 1.75rem !important;
}

.text-xl {
  font-size: 1.25rem !important; // 20px
  line-height: 1.75rem !important;
}

.text-2xl {
  font-size: 1.5rem !important; // 24px
  line-height: 2rem !important;
}

.text-3xl {
  font-size: 1.875rem !important; // 30px
  line-height: 2.25rem !important;
}

.text-4xl {
  font-size: 2.25rem !important; // 36px
  line-height: 2.5rem !important;
}

.text-5xl {
  font-size: 3rem !important; // 48px
  line-height: 1 !important;
}
