$accent: #73cec1;
$dark: #1d1d1d;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

/* primary */

$primary: #4849a1;

$primary-1: #e9eaf5;
$primary-2: #c7cae6;
$primary-3: #a3a8d5;
$primary-4: #8086c4;
$primary-5: #666bb7;
$primary-6: #4e51ab;
$primary-7: #4849a1;
$primary-8: #404095;
$primary-9: #383689;
$primary-10: #2c2473;

/* ... */

/* secondary */

$secondary: #f97767;

$secondary-1: #ffeced;
$secondary-2: #ffcfce;
$secondary-3: #ff9e92;
$secondary-4: #f97867;
$secondary-5: #ff5a3c;
$secondary-6: #ff4f15;
$secondary-7: #f7451a;
$secondary-8: #e53a15;
$secondary-9: #d8340c;
$secondary-10: #c82a00;

/* ... */

/* tertiary */

$tertiary: #25ccc9;

$tertiary-1: #e0f6f7;
$tertiary-2: #b0e9e8;
$tertiary-3: #77dbda;
$tertiary-4: #25ccc9;
$tertiary-5: #00bfbb;
$tertiary-6: #00b2aa;
$tertiary-7: #00a49b;
$tertiary-8: #009389;
$tertiary-9: #008279;
$tertiary-10: #006559;

/* ... */

/* gray */

$gray: #6984a3;

$gray-1: #f8f9fa;
$gray-2: #f0f3f6;
$gray-3: #dae0e8;
$gray-4: #c3ceda;
$gray-5: #96a9bf;
$gray-6: #6984a3;
$gray-7: #5f7793;
$gray-8: #4f637a;
$gray-9: #3f4f62;
$gray-10: #334150;

/* ... */

@import "~quasar-variables-styl";
