$accent: #73cec1;
$dark: #1d1d1d;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

/* primary */

$primary: #4849a1;

$primary-1: #e9eaf5;
$primary-2: #c7cae6;
$primary-3: #a3a8d5;
$primary-4: #8086c4;
$primary-5: #666bb7;
$primary-6: #4e51ab;
$primary-7: #4849a1;
$primary-8: #404095;
$primary-9: #383689;
$primary-10: #2c2473;

/* ... */

/* secondary */

$secondary: #ff7f5d;

$secondary-1: #fbe8e6;
$secondary-2: #ffc8b8;
$secondary-3: #ffa58b;
$secondary-4: #ff805d;
$secondary-5: #ff6339;
$secondary-6: #fd4516;
$secondary-7: #f23f12;
$secondary-8: #e5380d;
$secondary-9: #d63108;
$secondary-10: #bd2300;

/* ... */

/* tertiary */

$tertiary: #73cec1;

$tertiary-1: #f8fdfc;
$tertiary-2: #f1faf9;
$tertiary-3: #dcf3f0;
$tertiary-4: #c7ebe6;
$tertiary-5: #9dddd4;
$tertiary-6: #73cec1;
$tertiary-7: #68b9ae;
$tertiary-8: #569b91;
$tertiary-9: #457c74;
$tertiary-10: #38655f;

/* ... */

/* gray */

$gray: #64748b;

$gray-1: #f8fafc;
$gray-2: #f1f5f9;
$gray-3: #e2e8f0;
$gray-4: #cbd5e1;
$gray-5: #94a3b8;
$gray-6: #64748b;
$gray-7: #475569;
$gray-8: #334155;
$gray-9: #1e293b;
$gray-10: #0f172a;

/* ... */

@import "~quasar-variables-styl";
